/****************************************
*****************Footer******************
****************************************/
.footer-container {
  background-color: $black;
  padding: 250px 24px 60px 24px;
  color: white;
  text-align: center;

  .footer-nav-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: 1280px) {
      margin: 0 165px;
    }

    img {
      max-width: 60%;
      @media (min-width: 768px) {
        height: 100%;
        max-width: 35%;
      }
    }

    .hr-mobile {
      height: 1px;
      border: none;
      background-color: white;
      opacity: 0.1;
      margin: 32px 0;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .footer-nav-menu {
      font-size: 0.875rem;
      line-height: 0.875rem;
      letter-spacing: 2px;
      opacity: 0.5;
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 35px;
      }

      li {
        margin-bottom: 32px;
        &:last-child {
          margin-bottom: 40px;
        }
        @media (min-width: 768px) {
          margin-bottom: 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .hr-tablet {
    display: none;
    @media (min-width: 768px) {
      display: block;
      height: 1px;
      border: none;
      background-color: white;
      opacity: 0.1;
      margin: 32px 0;
    }

    @media (min-width: 1280px) {
      margin: 32px 165px;
    }
  }

  .footer-contact-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    @media (min-width: 1280px) {
      margin: 0 165px;
    }

    .footer-info-container {
      @media (min-width: 768px) {
        display: flex;
        text-align: left;
        gap: 40px;
      }

      .footer-office-info {
        opacity: 0.5;
        margin-bottom: 40px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }

        p {
          &:first-child {
            font-weight: 500;
          }
        }
      }

      .footer-contact-info {
        opacity: 0.5;
        margin-bottom: 40px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }

        p {
          &:first-child {
            font-weight: 500;
          }
        }
      }
    }

    .footer-social-media {
      svg {
        margin-right: 15px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        path {
          &:hover {
            fill: $light-peach;
          }
        }
      }
    }
  }
}
