/****************************************
**************Intro section**************
****************************************/
.intro-container {
  background-color: $peach;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 120px;
  background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
  background-position: left;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    border-radius: 15px;
    background-position: 150% 50%;
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-position: right;
  }

  .intro-text-container {
    margin: 80px 25px 0 25px;
    color: white;
    text-align: center;
    z-index: 2;

    @media (min-width: 768px) {
      margin: 60px 58px;
    }

    @media (min-width: 1280px) {
      margin: 145px 0 160px 95px;
      max-width: 50%;
      padding-right: 55px;
      text-align: left;
    }

    h1 {
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 40px;
      @media (min-width: 768px) {
        padding: 0 55px 40px 55px;
      }
      @media (min-width: 1280px) {
        padding: 0 0 40px 0;
      }
    }

    .intro-text-link {
      background-color: $white;
      padding: 16px 24px;
      border-radius: 8px;
      font-weight: 500;
      &:hover {
        background-color: $light-peach;
        color: white;
      }
    }
  }

  .intro-img-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      margin-top: 10px;
    }

    @media (min-width: 1280px) {
      padding-right: 50px;
      margin-top: 60px;
      height: 100%;
    }

    .intro-img {
      margin-bottom: -220px;
      filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
      @media (min-width: 1280px) {
        height: 100%;
      }
    }
  }
}

/****************************************
************Projects section*************
****************************************/
.design-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "webProject"
    "appProject"
    "graphicProject";
  align-items: stretch;
  row-gap: 24px;
  margin: 0 24px 120px 24px;

  @media (min-width: 768px) {
    margin: 0 0 120px 0;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "webProject appProject"
      "webProject graphicProject";
    column-gap: 24px;
  }

  .web-project-container {
    grid-area: webProject;
    background-image: url(../assets/home/mobile/image-web-design.jpg);

    @media (min-width: 768px) {
      background-image: url(../assets/home/tablet/image-web-design.jpg);
    }

    @media (min-width: 1280px) {
      background-image: url(../assets/home/desktop/image-web-design-small.jpg);
    }
  }

  .app-project-container {
    grid-area: appProject;
    background-image: url(../assets/home/mobile/image-app-design.jpg);

    @media (min-width: 768px) {
      background-image: url(../assets/home/tablet/image-app-design.jpg);
    }

    @media (min-width: 1280px) {
      background-image: url(../assets/home/desktop/image-app-design.jpg);
    }
  }

  .graphic-project-container {
    grid-area: graphicProject;
    background-image: url(../assets/home/mobile/image-graphic-design.jpg);

    @media (min-width: 768px) {
      background-image: url(../assets/home/tablet/image-graphic-design.jpg);
    }

    @media (min-width: 1280px) {
      background-image: url(../assets/home/desktop/image-graphic-design.jpg);
    }
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 90px 65px;
    position: relative;
    &:hover {
      .project-overlay {
        background-color: $peach;
      }
    }

    .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }

    h2 {
      z-index: 5;
    }

    .project-text-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      margin-top: 15px;
      z-index: 5;
    }
  }
}

/****************************************
*************Traits section**************
****************************************/
.description-container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 40px;
  }

  .traits-container {
    text-align: center;
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 120px;
    }

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    @media (min-width: 1280px) {
      flex-direction: column;
      margin-bottom: 120px;
    }

    .traits-image {
      text-align: center;
      @media (min-width: 768px) {
        margin-right: 50px;
      }

      @media (min-width: 1280px) {
        margin-right: 0;
        margin-bottom: 48px;
      }

      .bg-circle {
        position: absolute;
        width: 220px;
        z-index: -2;
      }
    }
    .traits-description {
      @media (min-width: 768px) {
        text-align: left;
      }

      @media (min-width: 1280px) {
        text-align: center;
      }

      h3 {
        margin: 48px 0 32px 0;

        @media (min-width: 768px) {
          margin: 0;
        }

        @media (min-width: 1280px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/****************************************
************Contact section**************
****************************************/
.contact-container {
  background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $peach;
  margin: 0 24px;
  padding: 64px 24px;
  border-radius: 15px;
  color: white;
  transform: skew(0deg);
  margin-bottom: -170px;
  @media (min-width: 768px) {
    margin: 0 0 -170px 0;
    padding: 64px 100px;
  }

  .contact-text {
    .contact-text-title {
      font-size: 2rem;
      line-height: 2.25rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .contact-text-description {
      margin-bottom: 48px;
    }
  }

  .contact-link {
    a {
      background-color: $white;
      padding: 16px 24px;
      border-radius: 8px;
      font-weight: 500;
      &:hover {
        background-color: $light-peach;
        color: white;
      }
    }
  }
}
